<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/monojsilag.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>  
    <script type="text/javacript" src="/public/js/select_option.js"></script>
  </head>
  <body style="background-color:#779ECB;">
    
    <div class="box">
      
      <div class="card">
        <div class="imgBx">
            <img onclick="javacript:selecionado();" src="https://vignette.wikia.nocookie.net/wikidonarutoshippuden/images/6/61/431px-Kakashi_Hatake.png/revision/latest/scale-to-width-down/340?cb=20120418155722&path-prefix=pt" alt="images">
        </div>
        <div class="details">
            <h2>Kakashi Hatake<br><span>Jounin</span></h2>
        </div>
      </div>
    
        <div class="card">
          <div class="imgBx">
            <img src="https://3.bp.blogspot.com/-agDYDmK-2DE/UKkJP8QgD1I/AAAAAAAAAFo/a-eKl7UpBYA/s1600/imagesCA5SKTI4.jpg" alt="images">
          </div>
          <div class="details">
            <h2>Itachi Uchiha<br><span>Nukenin</span></h2>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="https://vignette.wikia.nocookie.net/naruto/images/6/63/Minato_Namikaze_%28Infobox_-_Parte_I%29.PNG/revision/latest?cb=20141127124321&path-prefix=pt-br" alt="images">
          </div>
          <div class="details">
            <h2>Minato Namikaze<br><span>Hokage</span></h2>
          </div>
       </div>
    
    </div>
  
  </body>
</html>